.aboutPage {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-repeat: no-repeat;
}
.aboutTop {
    height: 55%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.aboutBottom {
    background-color: var(--text-color);
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-around;
}

.making-pizza {
    background-image: url('../assets/makingpizza.jpeg');
    width: 20rem;
    height: 20rem;
    margin: 5rem;
    background-position: center;
    background-size: cover;
}

.aboutUs {
    width: 70%;
}

.aboutUs p {
    font-size: 1.8rem;
}
.aboutUs h1 {
    font-size: 5rem;
    margin: 2rem 0;
    text-align: center;
}
@media only screen and (max-width: 720px) {
    .aboutUs p {
        font-size: 1.8rem;
    }
    .aboutTop {
        display: none;
    }
}
