.navbar {
    width: 100%;
    height: 100px;
    background-color: #121619;
    display: flex;
}

.navbar .leftSide {
    flex: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 8rem;
}

.navbar .leftSide img {
    width: 7rem;
}

.navbar .rightSide {
    flex: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.navbar .rightSide a {
    color: var(--text-color);
    padding: 10px;
    text-decoration: none;
    margin: 0 2rem;
    font-size: 2rem;
}

.rightSide svg {
    font-size: 4rem;
}

.rightSide button {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    display: none;
    margin-left: auto;
}

.hidden {
    display: none;
}
.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 705px) {
    .rightSide button {
        display: flex;
    }

    .menu-list {
        display: none;
    }

    .list {
        position: absolute;
        left: 0;
        top: 80px;
        height: 250px;
        width: 100%;
        background-color: #121619;
    }

    .list a {
        color: var(--text-color);
        padding: 10px;
        text-decoration: none;
        margin: 1.2rem 0;
    }
}

@media only screen and (min-width: 705px) {
    .list {
        display: none;
    }
}
